[package]
name = "egor"
version = "0.2.0"
edition = "2024"
authors = ["wick3dr0se <wick3dr0se@protonmail.com>"]
description = "A dead simple 2D graphics engine"
license = "MIT"
repository = "https://github.com/wick3dr0se/egor"
keywords = ["2d", "graphics", "wgpu", "winit"]
categories = ["egor", "graphics", "game-development"]

[workspace]
members = [
    "crates/*",
    "demos/no_windowing",
    "demos/secs_particles",
    "demos/shooter",
]
resolver = "2"

[features]
default = ["app", "render"]
app = ["dep:egor_app"]
render = ["dep:egor_render"]

[dependencies]
egor_app = { path = "crates/egor_app", optional = true }
egor_render = { path = "crates/egor_render", optional = true }

[profile.dev]
opt-level = 1

[profile.dev.package."*"]
opt-level = 3

[profile.release]
strip = true
lto = true
codegen-units = 1
opt-level = "z"
panic = "abort"

[profile.wasm-dev]
inherits = "dev"
opt-level = 1

[profile.server-dev]
inherits = "dev"

[profile.android-dev]
inherits = "dev"
